.container {
  display: flex;
}

.sidebar {
  width: 20%;
  padding: 1rem;
}

.content {
  width: 80%;
  padding: 0 2.5rem;
}

.footer {
  margin-top: 5rem;
}
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .content {
    width: 100%;
    padding: 0 1rem;
  }
}
